@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/800.css';
@import '@fontsource/inter/900.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  background-color: rgb(256 256 256);
  min-height: 100svh;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: rgb(38 38 38);
  }
} */

body {
  min-height: 100svh;
  height: 1px;
}
